/* style.css */

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* border: 1px dotted red; */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(22, 22, 22);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 240px;
  height: 320px;  
  margin: auto;
  border-radius: 10px;
}

#display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(47, 47, 47);
  color: white;
  width: 240px;
  height: 80px;
  padding-right: 16px;
  padding-bottom: 4px;
  text-align: right;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px 10px 0 0;
}

button {
  width: 60px;
  height: 48px;  
  border: 0.5px solid black;
  border-radius: 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn-zero {
  flex-grow: 2;
}

.operator {
  background-color: orange;
  color: white;
  font-size: 24px;
}

.operator:active,
#btn-equal:active {
  background-color: rgb(187, 129, 20);
}

.operator:focus {
  border: 1.5px solid black;
}

#btn-equal {
  background-color: orange;
  color: white;
  font-size: 24px;
  border-radius: 0 0 10px 0;
}

.number,
#btn-decimal {
  background-color: gray;
  color: white;
}

.number:active,
#btn-decimal:active {
  background-color: lightgray;
}

.top-3-btn {
  background-color: rgb(72, 72, 72);
  color: white;
  font-size: 16px;
}

.top-3-btn:active {
  background-color: gray;
}

#btn-zero {
  border-radius: 0 0 0 10px;
}
